* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Exa', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  color: wheat;
}
 

#tot_hidden {  
  text-align: center; 
  background: black;
  width:1280px; 
  height:2000px;
  font-size: 30px;
}
 

.startCtl{
  display: flex;
  position: absolute;  
  top:10px; 
  left: calc(2%); 
}

.startCtl > div {
  background: #808080;
  opacity:0.3;
  width:100px; 
  height:50px; 
  text-align:center; 
  display: table-cell;
  vertical-align:middle;  
}

.directCtl{
  /* display: flex; */
  position: absolute; 
  top: calc(110%); 
  left: calc(2%); 
}

.directCtl01{
  display: flex;
  /* position: absolute; 
  top: calc(55%); 
  left: calc(2%);  */
}

.directCtl01 > div {
  background: #808080;
  opacity:0.3;
  width:100px; 
  height:100px;  
  text-align:center; 
  display: table-cell;
  vertical-align:middle;  
  border-radius: 80px / 80px;
}

.directCtl02{
  display: flex;
  /* position: absolute; 
  top: calc(80%); 
  left: calc(2%);  */
}

.directCtl02 > div {
  background: #808080;
  opacity:0.3;
  width:100px; 
  height:100px;  
  text-align:center; 
  display: table-cell;
  vertical-align:middle;  
  border-radius: 80px / 80px;
}

.directCtl03{
  display: flex;
  /* position: absolute; 
  top: calc(105%); 
  left: calc(2%);  */
}

.directCtl03 > div {
  background: #808080;
  opacity:0.3;
  width:100px; 
  height:100px;  
  text-align:center; 
  display: table-cell;
  vertical-align:middle;  
  border-radius: 80px / 80px;
}

.attackCtl{
  display: flex;
  position: absolute; 
  top: calc(130%);
  left: calc(180%);
  text-align:right;
  width:300px;
  height:150px; 
  z-index:1000;
}

.attackCtl > div {
  background: #808080;
  opacity:0.3;
  width:150px; 
  height:150px;  
  text-align:center; 
  display: table-cell;
  vertical-align:middle;  
  border-radius: 100px / 100px;
}

/*
@media (max-width: 480px){
  header h1{
    font-size: 35px;
  }
  header p{
    font-size: 16px;
  }
  .tot {
    margin-bottom: 100px;
  }
}

@media (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: top left;
		position: absolute;
		top: 100%;
		left: 0; 
	}
}
*/